.navbar-brand{
    font-family: 'Norican', cursive;
}
.wrapper-one img{
   width:100%;
   height: 300px;
   padding-bottom: 5px;
   padding-left: 5px;
}

.w-two{
   background-color: #DCDCDC;
   padding-top: 20px
}

#fluid{
   padding: 0;
}

.post{
   background-color: rgba(194, 194, 194, 0);
   margin: auto;
   width: 100%;
   font-family: 'Handlee';
   border-radius: 10px
}

.post img{
   width:100%;
}
.h2{
   margin-bottom: 0;
}
.second-header{
   display: flex;
   justify-content:space-between;
   align-items:center;
   padding: 9px;
   padding-bottom: 3px;
   }

#navbarDropdown{
  margin-right: 150px;
}

.logo-wrapper{
   padding-top: 15px
   
}

div.post span{
   color: grey; float: right;
   
}
.likes{
   font-size: 20px;
   padding:5px;
}

.post p {
   padding: 5px
  
   
}

.post i{
  padding-left: 5px 
}

